
        ::-webkit-scrollbar {width: 6px;}
        ::-webkit-scrollbar-track {background-color:#ddd;}
        ::-webkit-scrollbar-thumb {background-color:#555; border-radius: 10px;}
        ::-webkit-scrollbar-thumb:hover {}
        ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {display: none;} 

* {margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
*::selection {background-color: #000; color: #fff;}
a {text-decoration: none; color: inherit;}
ul, ol {list-style: none;}
        
#main {width: 100%; height: auto; overflow-x: hidden;}
.main_box {
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

html {font-size: 0.83vw;}
        /* 반응형 설정 시작 
        @media only screen and (max-width: 1281px) {
            html {font-size: 15px;}
}
        @media only screen and (max-width: 769px) {
            html {font-size: 12px;}
}
        @media only screen and (max-width: 541px) {
            html {font-size: 8px;}
        }
         반응형 설정 끝 */